<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Familiares</h1>

    {% for member in family_member %}
        <div>
            <p>El nombre del familiar es {{member.name}}
            <b>{{member.last_name}}</b></p>
            <p>Edad: <b>{{member.age}}</b></p> 
            {% if member.is_adult %}
                <p>Este miembro es adulto</p>
            {% else %}
                <p>Este miembro aún NO es adulto</p>
            {% endif %}
        </div>
    {% endfor %}
    <h2></h2>
</body>
</html>